.positioner 
    div(id="carousel1", class="carousel slide", data-ride="carousel")
        ol.carousel-indicators.mover 
            li(data-target="carousel1" data-slide-to="0" class="0")
            li(data-target="carousel1" data-slide-to="1" )
            li(data-target="carousel1" data-slide-to="2" )
            li(data-target="carousel1" data-slide-to="3" )

        div.carousel-inner
            div.item.active.testimony 
                .card-header 
                    img(src="images/cameron.png" class="parent_img")
                    .header_text 
                        h5 Cameron Poliz 
                        p.role Comptable 
                p.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, iste maxime a, facilis cumque at quo aspernatur sint saepe atque, provident autem.

            div.item.testimony 
                .card-header 
                    img(src="images/megan.png" class="parent_img")
                    .header_text 
                        h5 Megan herzt 
                        p.role Ingenieur 
                p.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, iste maxime a, facilis cumque at quo aspernatur sint saepe atque, provident autem.
            div.item.testimony 
                .card-header 
                    img(src="images/simon.png" class="parent_img")
                    .header_text 
                        h5 Simon Iory 
                        p.role Plumber 
                p.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, iste maxime a, facilis cumque at quo aspernatur sint saepe atque, provident autem.