header 
    nav.navbar.navbar-default 
        .container-fluid 
            .navbar-header 
                a(class="navbar-brand" href="/home") Sofia mashaala school
            div 
                ul.nav.navbar-nav 
                    li 
                        a(href="/home") Accueil 
                    li 
                        a(href="/qui-sommes-nous") Qui sommes nous 
                    li 
                        a(href="/nos-actualités") Nos actualités 
                    li 
                        a(href="/login-parent") Je suis parent 
                    li 
                        a(href="/login-enseignant") Je suis enseignant 
                    