section.hero 
    div.row
        .hero_clip.col-md-7 
    
        hero_right.col-md-5 
            .hero_text 
                h1 Mashaala offre une éducation adaptée a vos enfants
                p.
                    Compter sur une équipe irréprochable pour prendre en charge l'éduction de vos enfants. 
                p.
                    Mashaala s'est engagé  a apporté a vos enfants le soutien éducationnel, moral et humain afin de leur transmettre les moyens nécessaires pour leur intégration sociale
                div 
                    button(href="/contact") En savoir plus
