section.hero 
    div.row
        .col-md-6
            .hero_clip
        .col-md-6
            .hero_text 
                h1 Mashaala offre une éducation adaptée a vos enfants
                p.
                    Compter sur une équipe irréprochable pour prendre en charge l'éduction de vos enfants. 
                p.
                    Mashaala est engagé  pour apporté a vos enfants le soutien éducationnel, moral et humain nécessaires pour leur intégration sociale
                div 
                    a(href="/contact" class="btn btn-primary btn-lg") En savoir plus
