extend skeleton.pug 

block content
    include ./includes/hero_section.pug
    main 
        .row.section_1
            .col-md-offset-3.col-md-3
                .section_1-text 
                    h2(class="hs") Bienvenue a<br/> sofia mashaala 
                    p L'école qui place l'avenir de vos enfants au coeur de ses objectifs premiers
                    div.my-25.d-flex-gap-12
                        a(href="/contact" class="btn btn-info") Contacter nous 
                        a(href="/contact" class="btn btn-warning") Notre emplacement 
            .col-md-3
                img(src="images/bg-students.jpeg", alt="students" class="custom-img")
                p.pmy-5.
                    Nos horaires d'ouverture sont de 08h - 18h pendant les jours ouvrés.
                    Vous pouvez aussi programmer un rendez vous pour le samedi de 9h - 12h30 
        .row.section_2 
            .col-md-6 
                .section_2-images 
                    img(src="images/girl-writting.jpeg" class="img1")
                    img(src="images/little-girl.jpeg" class="img2")
            .col-md-6 
                .section_2-text 
                    h3 Ce que nous vous offrons 
                    p.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid aperiam facilis, eaque tenetur rem laudantium vel ullam provident consectetur recusandae delectus inventore eum ea id beatae tempora dicta eos, doloribus maiores quod?
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In commodi aliquid ad sunt?
                    a(href="/contact" class="btn btn-info") En savoir plus
        .row.section_3 
            h3 Ce que les parents pensent de nous
            include ./includes/carousel.pug