html(lang="FR")
    head 
        meta(name="viewport" content="width=viewport-width, initial-scale= 1, shrink-to-fit= 0")
        block title 
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/styles.css")
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")

    body 
        include ./includes/header.pug


        block content 


        
